.navbar {
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    background-color: rgba(94, 177, 96, 1);/* opaco al inicio */
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color: rgba(94, 177, 96, 0.7); /* más transparente al hacer scroll */
}

.navbar ul {
    width: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;    
    position: sticky;
    z-index: 1000;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navbar li{
    position: relative; 
}

.navbar li a, .logo-header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.02em;
    color: white;
    display: block;
    text-decoration: none;
    padding: 0 8px;
}

.navbar .end{
    margin-right: 50px;
}

.logo-header h1{
    font-size: 1.7em;
}

.logo-header{
    margin-right: auto;
}


.navbar li a:hover{
    color: #b6c90e;
    transform: scale(1.05);
}

.navbar .logo-header{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 50px;
}

.logo-header img{
    height: 40px;
}

.navbar .submenu{
    display: none;
    position: absolute;
    top: 205%;
    left: 0;
    background-color: #5eb160;
    z-index: 1000;
    flex-direction: column;
}

.navbar .submenu{
    background-color: rgba(94, 177, 96, 1);  /* opaco al inicio */
    transition: background-color 0.3s ease;
}

.navbar .submenu.scrolled {
    background-color: rgba(94, 177, 96, 0.7); /* más transparente al hacer scroll */
}

.navbar .submenu li a{
    padding: 5px 16px;
    justify-content: left;
    
}

.desplegable:hover .submenu{
    display: flex;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px; 

}