.footer{
    background-color: black;
    color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    flex: 1;
    margin: 0;
    padding: 0;
}

.footer-form{
    padding: 40px;
    margin: 0 auto;
    display: grid;
    gap: 50px;
    grid-template-columns: 1.5fr 1fr 2fr;
}

.footeruno-textouno p,
.footeruno-textodos p{
    text-align: justify;
}

.sectionbox h2{
    font-size: 30px;
}


.sectionbox ul{
    list-style: none;
}

.sectionbox li::before{
    content: ">";
    margin-right: 10px;
    color: yellow;
    font-weight: bold;
}

.sectionbox a{
    text-decoration: none;
    color: white;
}

form fieldset{
    border: none; /* Poner en none*/
    margin: 0;
    padding: 0;
}

input{
    background-color: transparent;
    display: block;
    padding: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
    width: 100%;
    height: 10px;
    margin-bottom: 15px;
    border: 1.5px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
}

textarea{
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    display: block;
    padding: 10px;
    padding-left: 20px;
    width: 100%;
    height: 80px;
    margin-bottom: 15px;
    border: 1.5px solid white;
    border-radius: 5px;
    box-sizing: border-box;  
    color: white;
}


.control-btn{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.control-btn label{
    display: flex;
    margin-bottom: 5px;
}

input[type="checkbox"]{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.control-btn button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: yellow;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    opacity: 1;
}

.control-btn button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}


.footer-info{
    border-top: 1.5px solid white;
    margin: 0;
    padding: 10px;
    padding-left: 40px;
}

@media (max-width: 768px) {
    .footer-form {
        grid-template-columns: 1fr;
        padding: 20px;
        gap: 30px;
    }

    .sectionbox h2 {
        font-size: 1.5em;
    }

    .control-btn button {
        font-size: 1rem;
    }

    .footer-info {
        padding: 10px 20px;
        text-align: center;
    }
}
