*{
    /* para que no se me salgan los padings */
    box-sizing: border-box;
}

html{
     scroll-behavior: smooth;   
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{font-size: 1.25em;}



button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
}

button:hover{
    background-color: rgb(101,33,165)
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{
    color: blueviolet;
}

header{
    background-color: rgb(245,245,245);
    top: 0;
    z-index: 1000;
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;   
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

header img{
    height: 70px;
    margin: 0;
    padding: 0;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient( 0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../media/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
   }

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
}


#descripcion .container{
    text-align: center;
    padding: 200px 12px;
}

#generalidades{
    background-color: rgb(35,35,35);
    color: white;
    text-align: center;
}

#generalidades .container{
    padding: 150px 12px;
}

#generalidades h2{
    margin-top: 0;
    font-size: 3em;
}

#generalidades p{
    display: none;
}

#generalidades .carta{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 12px;
    border-radius: 15px;

}

.carta:first-child{
    background-image: linear-gradient( 0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../media/Molinos.jpg");
}

.carta:nth-child(2){
    background-image: linear-gradient( 0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../media/Molinos2.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient( 0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../media/energia-eolica-y-energia-solar.jpg");
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal.mostrar {
  display: flex;
}

.modal-contenido {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 600px;
  width: 80%;
  text-align: left;
  position: relative;
}

.cerrar {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

.cerrar:hover {
  color: red;
}

#paisesUsados .container{
    text-align: center;
    padding: 200px 12px;
}

#paisesUsados li{
    margin: 15px 0px;
    font-weight: bold;
}

#graficasComparativas{ 
    text-align: center;
    padding: 100px 12px;
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr;
    flex: 1;

  
}
.grafContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding: 20px;
}


.grafica{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    text-align: center;
    position: relative;
    cursor: pointer;
}

.grafica img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    /* object-fit: contain; */
}

#conoceMas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(35,35,35);
    color: white;
    height: 80vh;
}

#conoceMas  h2{
    font-size: 9vw;
}

#conoceMas button{
    font-size: 5vw;
}


footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
}


@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;

    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

#hero h1{
    font-size: 5em;
}

#descripcion .container{
    display: flex;
    justify-content: center;

 }

#descripcion .texto{
    width: 50%;
    text-align: initial;
    padding-left: 50px;
    padding: 0px 30px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#descripcion .img-container{
    background-image: url("../media/hombre-que-trabaja-en-el-proyecto-de-medio-ambiente-de-cerca.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 500px;
    border-radius: 59px;
    }

#descripcion h2{
    margin-top: 0px;
}

#generalidades  .generalidadesEnergias{
    display: flex;
    justify-content: center;

}

#generalidades p{
    display: block;
    margin-bottom: 30px;
}

#generalidades h3{
    margin-top: 0;
}

#generalidades .carta{
    padding: 50px;
    /* background-size: 100% 150px; */
    background-repeat: no-repeat;
    background-color: rgb(50,50,50);
    background-position-y: 0;
    background-color: rgba(50,50,50,01) ;
    box-shadow: 2px 2px 10px rgba(50,50,50,0.5)
}


#paisesUsados{
    background-image: url("../media/turbina.jpg");
    background-repeat: no-repeat;
    background-size: 500px 500px;
    background-position: calc(100vw - 750px) 150px;
}

#paisesUsados .container{
    text-align: initial;
}

#paisesUsados ul{
    margin-left: 100px;
};

.grafContainer{
grid-template-columns: 1fr;
}

#conoceMas h2{
    font-size: 4em;
}

#conoceMas button{
    font-size: 2em;
}

footer .container{
    justify-content: flex-end;
}


}

@media (min-width: 1200px){
    #paisesUsados{
        background-position-x: calc(100vw - 800) ;
    }
}