body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.image-principal{
    position: relative;
    width: 100%;
    height: 77vh;
    padding: 0;
    margin: 0;
}

.image-principal img{
    width: 100%;
    height: 77vh;
    object-fit: cover;
    padding: 0;
}

.image-principal h2{
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 3em;
}

.image-principal button{
    background-color: blueviolet;
    position: absolute;
    top: 73%;
    left: 50%;
    padding-top: 5px;
    margin: 0;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: white;
    border: 2px solid rgb(88, 22, 150);
    width: 24%;
    height: 11%;
    font-size: clamp(0.8em, 2vw, 2em);
    border-radius: 5px;
}

.image-principal button:hover{
    background-color: rgb(88, 22, 150);
    transform: translate(-50%, -50%) scale(1.02);    
}

.info-solar{
    display: grid;
    gap: 20px;
    padding: 50px;
    margin-top: -130px;
    grid-template-columns: 1fr;
    flex: 1;
}

.main-content{
    display: grid;
    gap: 40px;
    margin: 0;
    padding: 0 100px;
    grid-template-columns: repeat(4, 0.5fr);
    justify-content: center;
}

.main-content ul li{
    font-size: 1.1em;
}

.energia-solar{
    background-color: rgba(100, 100, 100, 1);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.energia-solar:hover{
    background-color: rgb(255, 205, 41);
    color: black;
    transform: scale(1.1);
    transition: transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.energia-solar img{
    width: 30%;
    height: auto;
    margin: 0;
    padding: 0;
}

.energia-solar h2{
    margin: 0;
}

.energia-solar p,
.energia-solar ul{
    text-align: justify;
    font-size: 0.8em;
}

.energia-solar ul{
    list-style-type: disc;
    padding: 0 20px;
}

.energia-solar a{
    text-decoration: none;
    color: inherit;
}

.main-energia-solar{
    display: grid;
    gap: 20px;
    margin: 100px 0;
    padding: 100px 150px;
    background-color: rgba(50, 50, 50, 1);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "item1 item1"
        "item2 item3"
        "item2 item4"
        "item2 item5";
}

.item:nth-child(1){grid-area: item1;}
.item:nth-child(2){grid-area: item2;}
.item:nth-child(3){grid-area: item3;}
.item:nth-child(4){grid-area: item4;}
.item:nth-child(5){grid-area: item5;}

.item{
    background-color: rgba(200,200,200, 0.8);
    border-radius: 10px;
    padding: 15px;
    text-align: justify;
}

.item p{
    color: black;
}

.item h2{
    color: black;
    text-align: center;
}

.v-d .prin-title{
    grid-column: 1 / -1;
    text-align: left;
    font-size: 1.7em;
    margin: 10px 0 0 150px;
    padding: 0;
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}

.ventajas-desventajas{
    display: grid;
    gap: 10px;
    margin: 50px 0;
    padding: 0 150px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "item11 item12"
        "item11 item13";
}

.item1:nth-child(1){grid-area: item11;}
.item1:nth-child(2){grid-area: item12;}
.item1:nth-child(3){grid-area: item13;}

.item1{
    background-color: rgba(200,200,200, 0.3);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    color: black;
}

.item1 ul li{
    text-align: justify;
}

.item1 img{
    width: 100%;

}


.ahorro-solar{
    background-color: rgba(50, 50, 50, 0.8);
    color: black;
    padding: 50px;
    justify-items: center;
    position: relative;
}

.a-solar h2{
    text-align: justify;
    margin: 0;
    padding: 0;
}

.ahorro-solar .h2-prinp{
    grid-column: 1 / -1;
    text-align: right;
    font-size: 1.7em;
    margin-right: -850px;
    padding: 0;
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;    
}

.solar-energia p{
    text-align: center;
}

.a-solar{
    background-color: white;
    padding: 25px;
    width: 100%;
    max-width: 415px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    justify-items: center;
}


.form-group{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.ahorro-solar label{
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="number"]{
    margin: 0;
    margin-top: 20px;
    padding: 10px;
    color: black;
    border: 1.5px solid black;
    border-radius: 4px;
    font-size: 1rem;
    height: 2rem;
}

.btn-calculo{
    margin-top: 30px;
    padding: 10px 20px;
    background-color: blueviolet;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid rgb(88, 22, 150);
    align-items: center;
}

.btn-calculo:hover{
    background-color: rgb(126, 0, 150);
}


.resultados{
    margin-top: 50px;
    background-color: white;
    width: 100%;
    max-width: 415px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.resultados h2{
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
}

.result{
    background-color: #989898;
    padding: 5px;
    border-radius: 8px;
    text-align: left;
}

.hidden{
    display: none;
}

.paises .p-paises{
    grid-column: 1 / -1;
    text-align: left;
    font-size: 1.7em;
    margin: 100px 0 0 150px;
    padding: 0;
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}

.paises h2{
    color: black;
}

.paises-solar{
    display: grid;
    gap: 10px;
    margin: 50px 0;
    padding: 0 150px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "item21 item22"
        "item23 item24";
}

.item2:nth-child(1){grid-area: item21;}
.item2:nth-child(2){grid-area: item22;}
.item2:nth-child(3){grid-area: item23;}
.item2:nth-child(4){grid-area: item24;}

.item2{
    background-color: rgba(200,200,200, 0.3);
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    text-align: center;
}


.item2 img{
    margin-top: 5%;
    width: 40%;

}


.graficos{
    background-color: rgba(50, 50, 50, 1);
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: 1fr;
    flex: 1;
}

.graficos h2{
    color: white;
    margin: 0;
    padding: 0;
}

.graficos label{
    color: white;
    padding: 5px;
    font-weight: bold;
    top: 0;
}

canvas {
    width: 100% !important;
    height: 100% !important;
    max-height: 300px;
    display: block;
    background-color: white;
}