body{
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.slider-box{
    width: 100%;
    height: 77vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}


.slider-box ul{
    display: flex;
    padding: 0;
    margin: 0;
    width: 400%;
    transition: margin-left 1s ease-in-out;
}

.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}

.slider-text{
    position: absolute;
    text-align: left;
    margin-left: 15%;
    padding: 0;
    top: 30%;
    color: white;
}

.slider-text h2{
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.slider-text p{
    font-size: 20px;
}

.slider-box img{
    width: 100%;
    height: 77vh;
    object-fit: cover;
    padding: 0;
}

.slider-box .slider-text:hover{
    transform: scale(1.04);
    color: yellow;
    cursor: pointer;
}



@keyframes slide{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}




.flecha {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  font-size: 2rem;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
}

.flecha.left {
  left: 0;
}

.flecha.right{
    right: 0;
}

.layout-grid{
    display: grid;
    gap: 20px;
    padding: 50px;
    margin-top: -130px;
    grid-template-columns: 1fr;
    flex: 1;
}

.main-content{
    display: grid;
    gap: 40px;
    margin: 0;
    padding: 0 100px;
    grid-template-columns: repeat(4, 0.5fr);
    justify-content: center;
}

.energia{
    background-color: rgba(100, 100, 100, 1);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    cursor: pointer;
}

.energia:hover{
    background-color: rgb(255, 205, 41);
    color: black;
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.energia img{
    width: 30%;
    height: auto;
    margin: 0;
    padding: 0;
}

.energia h2{
    margin: 0;
}

.energia p{
    text-align: justify;
    font-size: 0.8em;
}




.layout-grid-2{
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: 1fr;
    flex: 1;
}

.main-content-2{
    padding: 100px 120px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.titulo-seccion2{
    grid-column: 1 / -1;
    text-align: left;
    font-size: 2em;
    margin: 50px 0 0 150px;
    padding: 0;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: underline;
    font-size: 1.5em;
}

.quienes-somos{
    background-color: #ffffff;
    max-width: 100%;
    margin: -90px 0 0 10px;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}


.quienes-somos img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

.quienes-somos p{
    margin: 0;
    padding: 10px 30px 30px 30px;
    text-align: justify;
}

.quienes-somos h2{
    margin: 0;
    padding: 30px 30px 0px 30px;
    text-align: left;
}


.layout-grid-3{
    background-color: rgba(50, 50, 50, 1);
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: 1fr;
    flex: 1;
}

.main-content-3{
    padding: 100px 120px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.titulo-seccion3{
    grid-column: 1 / -1;
    text-align: right;
    font-size: 2em;
    margin: 50px 150px 0 0;
    padding: 0;
    color: white;
    text-decoration: underline;
    font-size: 1.5em;
}

.nuestro-equipo{
    background-color: rgba(200,200,200, 1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 0;
    margin: -90px 0 0 10px;
    padding: 0;
}

.nuestro-equipo h2{
    color: black;
    margin: 0;
    padding: 10px 0 0 0;
}

.nuestro-equipo h2:hover{
    color: blueviolet;
    transition: color 0.3s ease;
    transform: scale(1.05);
}

.nuestro-equipo img{
    width: 100%;
    max-width: 300px;
    height: auto;
    max-height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px 0;
    padding: 0;
}

.nuestro-equipo img:hover{
    transform: scale(1.03);
    transition: transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}


.modal{
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    text-align: center;
}

.modal-content p{
    text-align: justify;
}

.modal-content{
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    position: relative;
}

.close{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.btn-biografia{
    padding: 10px 20px;
    background-color: blueviolet;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-biografia:hover{
    background-color: rgb(126, 0, 150);
}





























#energias-renovables {
    scroll-margin-top: 30px; /* Ajusta según el espacio que necesites */
}


html{
    /* Ajusta el valor según la altura de tu header */
    scroll-padding-top: 20px; 
}